################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/server/x64/Debug
/x64/Debug
/Debug
/server/Debug
/server/output.txt
/packages/Microsoft.TypeScript.MSBuild.4.8.3
/web/bin
/web/obj/Debug
